:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #b9cfd7;
  --color-secondary: #b8a589;
  --color-tertiary: #b8d5d9;
  --color-text: #2d2009;
  color: var(--color-text);
  background-color: var(--color-primary);
}

body {
  margin: 0;
  padding: 10px;
  display: flex;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

.event-container {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-text);
}

.time-container {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-text);
}

.date-input {
  /* border: none; */
  background-color: var(--color-primary);
  color: var(--color-text);
}